
{{model.message.text}}

<br>

<button class="btn primary library-btn" type="button" name="library" {{action "submitLibrary" "library" model.message }}> Is it this?????: {{randomLibrary.name}}</button>

<button class="btn primary library-btn" type="button" name="fakeLibrary" {{action "submitLibrary" "fakeLibrary" model.message }}>Or this?????: {{randomFakeLibrary.name}}</button>

<br>
<br>

{{library-button libraryType=library model=model libraryObject=randomFakeLibrary libraryToggle=libraryToggle}}